html, body{
    margin: 0;
}

.sidebar{
    background-color: red;
}
.flex{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.sidebar{
    flex: 1;
}
.main-content{
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.main-content > form{
    display: flex;
    gap: 16px;
}